.product {
  width: 30%;
  height: 35vh;
  margin: 20px 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImage {
  height: 80%;
  width: 80%;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 1rem;
}

.descContainer {
  height: 30%;
  width: 100%;
  display: flex;
}

.projectImage:hover {
  cursor: none;
  opacity: 1;
}

.projectDescContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #59b256;
  overflow: hidden;
  overflow-y: scroll;
}

.projectDescContainer::-webkit-scrollbar {
  width: 0.1vw;
}

.projectDescContainer::-webkit-scrollbar-thumb {
  background-color: #59b256;
}

.projectDescContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.projectLinksContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projectLinksContainer div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #59b256;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectLinksContainer div a {
  font-size: 0.7rem;
  color: #59b256;
  text-decoration: none;
}

.projectLinksContainer div:hover {
  background-color: #59b256;
  transition: 0.3s;
}

.projectLinksContainer div a:hover {
  color: white;
  transition: 0.3s;
}

.projectTitle {
  font-size: 0.7rem;
  text-decoration: underline;
}

.projectDesdcription {
  font-size: 0.6rem;
}

.ProjectTechs {
  height: 35%;
  width: 90%;
  font-size: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  height: min-content;
}

@media screen and (max-width: 920px) {
  .product {
    width: 40%;
    height: 30vh;
  }

  .projectLinksContainer div {
    width: 1.35rem;
    height: 1.35rem;
  }

  .projectLinksContainer div a {
    font-size: 0.55rem;
  }

  .projectTitle {
    font-size: 0.6rem;
  }

  .projectDesdcription {
    font-size: 0.5rem;
  }

  .ProjectTechs {
    font-size: 0.5rem;
  }
}
