.product {
  width: 40%;
  height: 50vh;
  margin: 20px 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid yellowgreen;
  border-radius: 1rem;
}

.imgContainer {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImage {
  height: 80%;
  width: 80%;
  object-fit: cover;
  border-radius: 1rem;
}

.descContainer {
  height: 40%;
  width: 100%;
  display: flex;
}

.projectDescContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 1px solid coral;
  border-radius: 1rem;
  padding: 1rem;
}

.projectDescContainer::-webkit-scrollbar {
  width: 1px;
}

.projectDescContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.projectDescContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.projectTitle {
  font-size: 0.8rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.projectDesdcription {
  font-size: 0.75rem;
  text-align: center;
}

.ProjectTechs {
  min-height: 60%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: min-content;
}

.projectLinksContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projectLinksContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectLinksContainer div a {
  font-size: 0.7rem;
  color: yellowgreen;
}

.projectLinksContainer div a:hover {
  color: wheat;
  transition: 0.3s;
}

@media screen and (max-width: 920px) {
  .product {
    width: 70%;
    height: 50vh;
  }

  .projectLinksContainer div {
    width: 1.35rem;
    height: 1.35rem;
  }

  .projectTitle {
    font-size: 0.8rem;
  }

  .projectDesdcription {
    font-size: 0.7rem;
  }

  .ProjectTechs {
    font-size: 0.7rem;
  }
}
